// table.scss

table {
  border-collapse: collapse;
  width: 100%;
  tr {
    display: flex;
    height: 1em;
  }
  th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
  }

  td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 0;
  }
}

.headers-container {
  display: flex;
  flex: 1;
  .header {
    display: flex;
    flex: 1;
    background-color: #ddd;
  }
}

.rows-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  .row {
    display: flex;
    flex: 1;
    .time-cell
    {
      display: flex;
      flex: 0 0 auto;
      background-color: aquamarine;
      justify-content: start;
      flex-basis: auto;
    }
    .cell
    {
      display: flex;
      flex : 1;
      background-color: aquamarine;
      justify-content: center;
      flex-basis: auto;
    }
  }
}
