<!-- <table>
  <thead>
    <tr>
      <ng-container *ngFor="let heading of headingRow">
        <th>{{ heading }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of $table | async">
      <tr>
        <td>{{ row[0].timeInterval }}</td>
        <ng-container *ngFor="let cell of row">
          <td>
            <app-selectable-cell [cell]="cell"></app-selectable-cell>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table> -->

<div class="rows-container">
  <div class="row">
    <ng-container *ngFor="let heading of headingRow; index as i; then rest">
      <ng-container *ngIf="i === 0">
        <div class="time-cell">
          {{ heading }}
        </div>
      </ng-container>
      
      <div class="cell">
        {{ heading }}
      </div>
    </ng-container>
  </div>
  <ng-container *ngFor="let row of $table | async">
    <div class="row">
      <div class="time-cell">
        {{ row[0].timeInterval }}
      </div>
      <ng-container *ngFor="let cell of row">
        <div class="cell">
          {{ cell.rowNumber }}
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<!-- <div class="headers-container">
  <ng-container *ngFor="let heading of headingRow">
    <div class="header">
      {{ heading }}
    </div>
  </ng-container>
</div> -->
