<div
  class="select-wrapper"
  [ngStyle]="{
    border: ifShowBorder || ifSelectorActive ? '5px solid green' : '',
    background: cellColor,
    'pointer-events': ifCellDisabled ? 'none' : 'all'
  }"
  (mouseenter)="toggleBorderAndSelectorVisibility()"
  (mouseleave)="toggleBorderAndSelectorVisibility()"
>
  <div
    *ngIf="
      ifEmployeeWhoWasChosenShouldBeSet;
      then withoutSelector;
      else withSelector
    "
  ></div>

  <ng-template #withoutSelector>
    <div
      class="selector"
      [ngStyle]="{ 
      background: cellColor,
    }"
      (mouseover)="mouseHasTouchedCellWhereEmployeeWasSelected()"
      (mouseenter)="setSelectedEmployee(selectedEmployee)"
      (click)="disableSelectionOfSelectedEmployee()"
    ></div>
  </ng-template>
  <ng-template #withSelector
    ><select
      (mousedown)="getEmployeesForSelection()"
      (click)="selectionActive()"
      (closed)="onSelectorClose(); selectionNotActive()"
      [(ngModel)]="selectedEmployee"
      (change)="onEmployeeSelection(selectedEmployee)"
    >
      <option
        *ngFor="let employee of employeesForSelection"
        [ngValue]="employee"
      >
        {{ employee.name }}
      </option>
    </select></ng-template
  >
</div>
