<div
  class="container"
  [ngStyle]="{
    background: cellColor,
    'pointer-events': ifCellDisabled ? 'none' : 'all'
  }"
  (mouseenter)="toggleSelectorVisibility()"
  (mouseleave)="toggleSelectorVisibility()"
>

  <select
    *ngIf="ifShowSelector || ifSelectorActive"
    (mousedown)="getEmployeesForSelection()"
    (click)="setSelectionActive()"
    [(ngModel)]="selectedEmployee"
    (change)="setSelectedEmployee(selectedEmployee)"
    (blur)="setSelectionNotActive()"
  >
    <option *ngFor="let employee of employeesForSelection" [ngValue]="employee">
      {{ employee.name }}
    </option>
  </select>
</div>
