table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid;
  .time-heading {
    width: 0px;
    text-align: center;
    white-space: nowrap;
  }
  .cell {
    text-align: center;
  }
}
